$miFuenteSzpali:'Courier New',
Courier,
monospace;
$miColorFuenteSzpali:rgba(255, 30, 143, 0.328);

@mixin mixinszpaliej2 ($ancho, $estilo, $color) {
    border: $ancho $estilo $color;
    font-family: $miFuenteSzpali;
    color: $miColorFuenteSzpali;
    text-align: left;
    box-sizing: border-box;
    min-height: 400px;
}

@media screen and (min-width:500px) {
    .generalSzpali {
        >div {
            width: 50%;
            float: left;
        }
        >.primeroSzpali {
            @include mixinszpaliej2(2px, dashed, cornflowerblue);
        }

        >.segundoSzpali {
            @include mixinszpaliej2(2px, dashed, rgb(136, 241, 255));
        }
    }
}


@media screen and (max-width:500px) {
    .generalSzpali {
        >div {
            width: 100%;
            float: none;
            @include mixinszpaliej2(3px, dotted, rgb(112, 255, 112));
        }
    }
}


//El menu
.menuSzpali {
    overflow: hidden;
    background-color: cornflowerblue;

    >a {
        float: left;
        font-family: 'Courier New', Courier, monospace;
        display: block;
        padding: 20px;
        color: white;
        text-decoration: none;
    }

    >a:hover {
        background-color: rgba(255, 105, 180, 0.335);
    }
}

@media screen and (max-width: 450px) {
    .menuSzpali a {
        float: none;
    }
}